h1{
    background-color: blue;
    padding: 5px;
    border: 3px solid black;
    opacity: 0.5;
}

div{
    background-color: rgba(28, 9, 201, 0.3); /* background opacity sini alpha ile veririz. */
    padding: 5px;
    border: 3px solid black;
    /* opacity: 0.5; */
}

p{
    opacity: 0.5;
}

img:hover{
opacity: 0.8;
width: 320px;
}