
/* box-sizing : 2 çeşittir. 

content-box: Genişlik veya yükseklik değeri içerik alanını içerir; border ve padding değerlerini içermez. 

border-box: Genişlik veya yükseklik değeri padding ve border değerlerinide içerir.  */

#content{
    box-sizing: content-box;
    background-color: crimson;
    padding: 20px;
    border: 5px solid blue;
    height: 50px;
}

#borderbox{
    box-sizing: border-box;
    background-color: pink;
    padding: 20px;
    height: 50px;
    border: 5px solid blue;
}